.count-container {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 100;
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


@media (min-width: 600px) {
  .title {
    font-family: "Allura", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 7rem;
    color: red;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    user-select: none;
    animation: fade-in-down 1s ease-out forwards;
    animation-delay: 200ms;
    opacity: 0;
  }

  .countdown {
    font-family: "Allura", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    user-select: none;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    animation: fade-in-down 1s ease-out forwards;
    animation-delay: 200ms;
    opacity: 0;
  }
}

@media (max-width: 600px) {
  .title {
    font-family: "Allura", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 7rem;
    color: red;
    border-radius: 20px;
    text-align: center;
    margin-inline: 25px;
    user-select: none;
    animation: fade-in-down 1s ease-out forwards;
    animation-delay: 200ms;
    opacity: 0;
  }

  .countdown {
    font-family: "Allura", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    margin-inline: 25px;
    border-radius: 20px;
    text-align: center;
    user-select: none;
    animation: fade-in-down 1s ease-out forwards;
    animation-delay: 200ms;
    opacity: 0; 
  }
}
